$backgroundColor: black;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}


.navbar {
    background-color: $backgroundColor;
    position: relative;
    z-index: 999;
    height: 100px;
}