<div class="tales-window">
    <div class="window-header">Analyzing...</div>
    <div class="tales">
        @for (tale of tales; track tale.name) {
        <div class="tale">
            <div class="tale-name">{{ tale.name }}</div>
            <div class="tale-value">{{ tale.value }}</div>
        </div>
        } @empty {
        <div class="error">
            There are no items
        </div>
        }
    </div>
    <div class="window-footer">
        <div class="text">Wake up the cat to start...</div>
        <div class="cursor">|</div>
    </div>
</div>