#box {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  top: 150px;
  left: 3rem;
}

.cat {
  cursor: pointer;
}

.cat * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cat,
.ears,
.eyes,
.muzzle,
.body,
.paw,
.tail,
.tail-segment {
  position: relative;
}

.head,
.body,
.paw,
.tail-segment {
  background-color: #000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.head {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  z-index: 100;
  transition: transform 0.6s ease-in-out;
  transform: translateY(30px);
}

.ears {
  top: -20px;
  z-index: -100;
}

.ear {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #000;
}

.ear.left {
  transform: rotate(-20deg) translateX(-10px);
}

.ear.right {
  transform: rotate(20deg) translateX(10px);
}

.eyes {
  top: -18px;
  width: 60%;
}

.eye {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFD700;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: scaleY(0.1);
  opacity: 0.6;
}

.cat:hover .head {
  transform: translateY(0px);
}

.cat:hover .eye {
  transform: scaleY(1);
  opacity: 1;
}

.muzzle {
  top: 50px;
}

.nose {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #666;
}

.body {
  width: 200px;
  height: 120px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  top: -75px;
  left: 90px;
  z-index: -10;
}

.paw {
  height: 30px;
  width: 50px;
  border-radius: 25px;
  left: -100px;
  top: 90px;
}

.tail {
  left: 180px;
  top: -100px;
  transform: rotate(90deg);
}

.tail-segment {
  height: 20px;
  width: 30px;
  border-radius: 25px;
  top: 0;
  left: 10px;
  animation: tail-swish 2.2s ease-in-out infinite;
  animation-direction: reverse;
}

.cat:hover .tail-segment {
  animation-direction: normal;
}

@keyframes tail-swish {
  0% { transform: rotate(12deg); }
  25% { transform: rotate(-8deg); }
  50% { transform: rotate(8deg); }
  75% { transform: rotate(-4deg); }
  100% { transform: rotate(12deg); }
}
