$boxPadding: 2rem;
$backgroundColor: black;
$primaryColor: white;

.container {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}